@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url(/alvan-nee-8g0D8ZfFXyA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 40vw;
}
.right {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 60vw;
}

.first {
  line-height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 2rem;
  color: #10401d;
}
.first h3 {
  text-align: center;
}

.second {
  background-color: #ffff;
  height: 45vh;
}

.second h3 {
  margin: 2rem;
}

.form-main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

input {
  width: 150px;
  border: 1px solid #e5e7eb;
  height: 25px;
  border-radius: 5px;
}

input:focus {
  border: 1px solid yellow;
}

input:invalid {
  border: 1px solid red;
}

label {
  font-size: 15px;
  color: #262921;
}

#error {
  color: red;
  font-size: 10px;
}

.third {
  height: 25vh;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 100%;
    background-size: contain;
  }
  .first {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .form-main-div {
    flex-direction: column;
  }
}
