@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url(/alvan-nee-8g0D8ZfFXyA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
}
.right {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 60vw;
}

.first {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

.second {
  background-color: #ffff;
  height: 30vh;
}

.form-main-div {
  display: flex;
  flex-direction: row;
}

.third {
  height: 30vh;
}
